<div class="column">
  <div class="column is-6">
    <h3>Create a New Event:</h3>
    <form class="form new-event">
      <div class="">
        <label>Name of Event:</label>
        <input class="" type="text" id="eventName" name="event-name" />
      </div>
        <div class="">
        <label>Date:</label>
        <input class="" type="date" id="eventDate" name="event-date" />
      </div>
      <div class="">
        <label>Description:</label>
        <textarea class="" id="eventDescription" name="event-description"></textarea>
      </div>
      <div class="">
         <div class="">
        <label>Location:</label>
        <input class="" type="text" id="eventLocation" name="event-location" />
      </div>
       <div class="">
        <label>Needed funding ($):</label>
        <input class="" type="number" id="eventFunding" name="event-funding" />
      </div>
        <button type="submit" class="">Create</button>
      </div>
    </form>
  </div>
