<h1 class="title">Welcome, {{current_username}}!</h1>
<h2 class="subtitle">
  You are currently hosting
  <strong>{{created.length}}</strong>
  events and attending
  <strong>{{attend.length}}</strong>
  events
</h2>