  {{#if event.length}}
  <div class="">
    <h3>My events:</h3>
    {{#each events as |event|}}
    <div class="">
      <div class="">
        <h4><a href="">Event name goes here</a></h4>
      </div>
      <div class="">
        <button class="button is-danger btn-delete" data-id="delete-id">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>