<div class="column is-6">
  <form>
    <h3 class="title header-style">Update Your Username</h3>
    <div class="field">
      <label class="label">New Username:</label>
      <div class="control">
        <input class="input" type="text" id="username" />
      </div>
    </div>
    <button
      id="update-username"
      type="button"
      class="button is-link"
    >Confirm</button>
  </form>
</div>
<script src="/js/update-username.js"></script>