<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Events</title>
   <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="container">
  <div class="column is-justify-content-space-between">
    <header class="is-flex justify-space-between is-align-items-center">
      <h1>Tech Events</h1>
      <nav>
        <!-- login or logout conditions -->
        {{#if logged_in}}
        <a href="/dashboard">Profile</a> 
        <button class="button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container mt-4">
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>
  <!-- logged in users-->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>