<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="container">
    <div class="is-justify-content-space-between">
      <header class="is-flex justify-space-between is-align-items-center">
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              <img src="/img/TECH.png" width="112" height="50" />
            </a>
          </div>
          <div id="navbar" class="navbar-menu">
            <div class="navbar-start" id="navbar-content">
              <a class="navbar-item button is-primary is-rounded is-outlined">
                Home
              </a>
              <a class="navbar-item button is-primary is-rounded is-outlined">
                About
              </a>
            </div>
            <div class="navbar-end" id="navbarend-content">
              <div class="navbar-item">
                <div class="buttons">
                  {{#if logged_in}}
                    <a id="logout" class="button is-light">
                      Log out
                    </a>
                  {{else}}
                    <a href="/login" class="button is-primary">
                      <strong>Login</strong>
                    </a>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main
        style="background-position: center; background-image: url('img/background.png')"
      >
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>
    <!-- logged in users-->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <footer class="footer footer-container">
      <div class="content has-text-centered">
        <p>
          <strong>Made</strong>
          by
          <a href="https://github.com/puentedg">Gabriella,</a>
          <a href="https://github.com/safazgolli">Safa</a>
          and
          <a href="https://github.com/hmhtom">Alex</a>
        </p>
      </div>
    </footer>
  </body>

</html>