<div class="">
  <div class="">
    <h2>Welcome, name!</h2>
  </div>
</div>
<div class="">
  <div class="">
    <h3>Create a New Event:</h3>
    <form class="">
      <div class="">
        <label>Name of Event:</label>
        <input class="" type="text" id="" name="event-name" />
      </div>
      <div class="">
        <label>Date:</label>
        <input class="" type="date" id="" name="event-date" />
      </div>
      <div class="">
        <label>Description:</label>
        <textarea class="" id="" name="event-description"></textarea>
      </div>
      <div class="">
        <div class="">
          <label>Location:</label>
          <input class="" type="text" id="" name="event-location" />
        </div>
        <div class="">
          <label>Needed funding ($):</label>
          <input class="" type="number" id="" name="event-funding" />
        </div>
        <button type="submit" class="">Create</button>
      </div>
    </form>
  </div>

  {{!-- {{#if event.length}} --}}
  <div class="">
    <h3>My events:</h3>
    {{!-- {{#each events as |event|}} --}}
    <div class="">
      <div class="">
        <h4><a href="">Event name goes here</a></h4>
      </div>
      <div class="">
        <button class="" data-id="event id goes here">DELETE</button>
      </div>
    </div>
    {{!-- {{/each}} --}}
  </div>
  {{!-- {{/if}} --}}
</div>

<script src="./js/dashboard.js"></script>