<div class="columns">
  <div class="menu column is-3">
    <p class="menu-label">
      Events
    </p>
    <ul class="menu-list">
      <li><a href="/dashboard?opt=1">My Events</a></li>
      <li><a href="/dashboard?opt=2">Attending</a></li>
      <li><a href="/dashboard?opt=3">Create Event</a></li>
    </ul>
    <p class="menu-label">
      Profile
    </p>
    <ul class="menu-list">
      <li><a href="/dashboard?opt=4">Update Username</a></li>
      <li><a href="/dashboard?opt=5">Update Password</a></li>
    </ul>
  </div>
  <section class="section column">
    {{#if query}}  
      {{#if (equal query "1")}}
      <h1 class="title">My Events:</h1>
      {{#each created as |event|}}
      {{> create-details}}
      {{/each}}
      <script src="/js/my-event.js"></script>
      {{/if}}
      {{#if (equal query "2")}}
      <h1 class="title">Attending Events:</h1>
      {{#each attend as |event|}}
      {{> event-details}}
      {{/each}}
      {{/if}}
      {{#if (equal query "3")}}
      {{> new-event}}
      {{/if}}
      {{#if (equal query "4")}}
      {{> update-username}}
      {{/if}}
      {{#if (equal query "5")}}
      {{> update-password}}
      {{/if}}
    {{else}}
    {{> dashboard-main}}

<<<<<<< HEAD
  <section class="main-content columns is-fullheight">
    <aside class="column is-3 is-narrow-mobile is-fullheight section is-hidden-mobile mt-5">
      <p class="menu-label text is-">
        Dashboard 
      </p>
      <ul class="menu-list">
        <li><a href="/dashboard/{{update_event}}">Create Event</a></li>
        <li><a href="/dashboard/{{current_user_id}}">My Events</a></li>
        <li><a href="/dashboard/attending">Attending</a></li>
      </ul>

      <p class="menu-label">
        Settings
      </p>
    
      <ul class="menu-list">
        <li><a href="/dashboard/">Update Password</a></li>
        <li><a href="/dashboard/">Delete my account</a></li>
    </aside>
    <section class="section is-medium">
    <h1 class="title is-2">Welcome, {{current_username}}!</h1>
    <h2 class="subtitle mt-4">
      Check your next <strong class="has-text-danger">events</strong>
    </h2>
    </section>
  </section>

<script src="/js/dashboard.js"></script>
{{!-- <a
  class="btn btn-primary btn-lg position-fixed z-top bottom-0 end-0 m-5 rounded-circle"
  type="button"
  href="/dashboard/new-post"
>+</a>
<h2 class="m-5 user-select-none">Your Posts</h2>
{{#each posts as |post|}}
{{> post-detail}}
{{/each}} --}}
=======
    {{/if}}
  </section>
</div>
>>>>>>> c35e91f6714a3bf345011a0de8a0c8e481268ef5
