<aside class="menu">
  <p class="menu-label">
    Dashboard 
  </p>
  <ul class="menu-list">
    <li><a>Create Event</a></li>
    <li><a>My Events</a></li>
    <li><a>Attending</a></li>
  </ul>
  <p class="menu-label">
    Settings
  </p>
  <ul class="menu-list">
    <li><a>Update Password</a></li>
    <li><a>Delete my account</a></li>
<div class="container">
  <div class="">
    <h2>Welcome, name!</h2>
  </div>
</div>





<script src="./js/dashboard.js"></script>