<div class="columns">
  <div class="menu column is-3">
    <p class="menu-label">
      Events
    </p>
    <ul class="menu-list">
      <li><a href="/dashboard?opt=1">My Events</a></li>
      <li><a href="/dashboard?opt=2">Attending</a></li>
      <li><a href="/dashboard?opt=3">Create Event</a></li>
    </ul>
    <p class="menu-label">
      Profile
    </p>
    <ul class="menu-list">
      <li><a href="/dashboard?opt=4">Update Username</a></li>
      <li><a href="/dashboard?opt=5">Update Password</a></li>
    </ul>
  </div>
  <section class="section column">
    {{#if query}}  
      {{#if (equal query "1")}}
      <h1 class="title">My Events:</h1>
      {{#each created as |event|}}
      {{> create-details}}
      {{/each}}
      <script src="/js/my-event.js"></script>
      {{/if}}
      {{#if (equal query "2")}}
      <h1 class="title">Attending Events:</h1>
      {{#each attend as |event|}}
      {{> event-details}}
      {{/each}}
      {{/if}}
      {{#if (equal query "3")}}
      {{> new-event}}
      {{/if}}
      {{#if (equal query "4")}}
      {{> update-username}}
      {{/if}}
      {{#if (equal query "5")}}
      {{> update-password}}
      {{/if}}
    {{else}}
    {{> dashboard-main}}

    {{/if}}
  </section>
</div>
