
<aside class="menu">
  <p class="menu-label">
    Dashboard 
  </p>
  <ul class="menu-list">
    <li><a href="/dashboard/{{update_event}}">Create Event</a></li>
    <li><a href="/dashboard/{{current_user_id}}">My Events</a></li>
    <li><a href="/dashboard/attending">Attending</a></li>
  </ul>

  <p class="menu-label">
    Settings
  </p>
 
  <ul class="menu-list">
    <li><a href="/dashboard/">Update Password</a></li>
    <li><a href="/dashboard/">Delete my account</a></li>
     </aside>
<section class="section is-medium">
  <h1 class="title">Welcome, {{current_username}}!</h1>
  <h2 class="subtitle">
    Check your next <strong>events</strong>
  </h2>
</section>

<script src="/js/dashboard.js"></script>