<div class="">
  <div class="">
    <h2>
      <a href="">name of the event</a>
    </h2>
    <p>
        Day and time of event
    <p>
      description of the event
    </p>
    <p>
        number of participants
    </p>
  </div>
</div>
<nav class="pagination" role="navigation" aria-label="pagination">
  <a class="pagination-previous">Previous</a>
  <a class="pagination-next">Next page</a>
  