
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body class="container">
  <div class="column is-justify-content-space-between">
    <header class="is-flex justify-space-between is-align-items-center">
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" id="logo" href=#>
        <img src="../public/img/TECH.png">
      </a>
    </div>
  <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>
         <a class="navbar-item">
          About
        </a>
      </div>
         <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
  </div>
  </nav>
  </header>
  <section class="section">
              <div class="container">
                <div class="columns is-centered">
                  <div class="column is-half">
                  <div>
                      <form id="search-form" class="field has-addons user-form">
                          <input id="search-input" class="user-entry input" type="text" placeholder="Find an event">
                          <i class="fa-solid fa-magnifying-glass"></i>
                          <div class="control">
                          <button id="search-btn" class="button is-primary">Search</button>
                          </div>
                      </form>
                  </div>
              </section>
  <div class="pagination" role="navigation" aria-label="pagination">
    <a class="pagination-previous">Previous</a>
    <a class="pagination-next">Next page</a>
    </div>
  </body>
    